# Visual Studio
.vs/

# Build folders
bin/
obj/

# NuGet
packages/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Visual Studio cache
.vscode/

# OS files
.DS_Store
Thumbs.db

# saperate files
/ProductsAPI/
