<div>
  <h1>About Us</h1>
  <ul>
    <!-- <li *ngFor="let mobile of ts.mobiles">{{ mobile }}</li> -->
    @for (mobile of ts.mobiles; track mobile) {
      <li>{{ mobile }}</li>
    }
  </ul>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, repudiandae culpa. Ducimus
    repellat beatae asperiores voluptatem sunt quibusdam magni labore aliquid assumenda, recusandae
    quae, dolore mollitia amet in similique accusantium!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, repudiandae culpa. Ducimus
    repellat beatae asperiores voluptatem sunt quibusdam magni labore aliquid assumenda, recusandae
    quae, dolore mollitia amet in similique accusantium!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit veritatis nemo
    repellendus nobis explicabo delectus, quas cupiditate corporis aut facere dignissimos libero
    quisquam cum deserunt, non vel voluptatem, aperiam aliquid? Eos impedit neque autem! Labore
    veniam ullam commodi magni aliquam, temporibus incidunt autem quibusdam libero ducimus quia quas
    quod, earum impedit reiciendis, doloremque itaque quaerat dicta. Laboriosam cupiditate
    architecto in!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, repudiandae culpa. Ducimus
    repellat beatae asperiores voluptatem sunt quibusdam magni labore aliquid assumenda, recusandae
    quae, dolore mollitia amet in similique accusantium!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, repudiandae culpa. Ducimus
    repellat beatae asperiores voluptatem sunt quibusdam magni labore aliquid assumenda, recusandae
    quae, dolore mollitia amet in similique accusantium!
  </p>
</div>
